
/* ******* PORTADA ******** */

.content {
    min-height: fit-content;
}

#appx {
    position: relative !important;
}

.digiHeaderFila1 {
    height: 40px;
    padding: 8px 6px 3px 6px !important;
    border-bottom: 0.5px #b5b5b5 solid;
}

.div_main_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div_txt_categoria_mv {
    font-size: 10pt;
}

#login_menu_movil {
    width: 24px;
    height: 23px;
}

.tHofe1 img {
    width: 118px;
    height: auto;
}

.dHF1_2 {
    min-width: 20px !important;
    font-size: 6pt;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 1px;
}

.dH1C2 {
    width: 100%;
    padding: 6px;
    background-color: transparent;
    border-bottom: 1px #b5b5b5 solid;
}

.dH1C2 #textobusqMovil {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    vertical-align: middle;
    padding: 11px 5px;
    font-size: 12pt;
    font-family: montserratextralight;
    background-image: url(../../images/hlupa.png);
    background-repeat: no-repeat;
    background-position: 796px 15px;
}

.dH1C2 #textobusqMovil {    
    border-bottom: 1px solid #ccc;
    font-size: 10pt;
    background-position: 99% 4px;
    background-size: 15px;
    padding: 0px;
    height: 25px;
}

#jssor_1 {
    top: 20px !important;
}

#textobusqMovil::-webkit-input-placeholder { color: #fff !important; }
#textobusqMovil::-moz-placeholder { color: #fff !important; }
#textobusqMovil:-ms-input-placeholder { color: #fff !important; }
#textobusqMovil:-moz-placeholder { color: #fff !important; }

#buscador {
    display: inline-block;
    width: 100% !important;
    padding-bottom: 1px;
}

.digiHead1 {
    display: none;
}

.menu-container .manu {
    display: none;
}

.digiHeader {
    height: 135px;
}

.fCelda5 {
    height: auto;
    display: block;
    width: 100%;
}

.fCelda51 {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.ffCol {
    padding: 1px 0px !important;
    display: inline-block;
    height: 36px;
}

.ffCol-first {
    width: 150px !important;
    height: 36px;
    padding-top: 5px !important;
    padding-left: 10px !important;
}

.ffCol-second {
    display: flex;
    justify-content: end;
    height: 35px;
    width: 200px !important;
}

.ffCol1 {
    width: auto !important;
    height: 36px;
}

.ffCol1 img {
    width: 30px;
}

.homeOrdenadores a {
    height: 25px;
    padding: 0px;
    font-size: 6pt;
}

.homeTitu {
    margin-top: 20px;
    margin-bottom: 0px;
}

.homeTitu2 {
    display: inline-flex;
    vertical-align: baseline;
    font-size: 12pt;
    height: 36px;
    width: auto !important;
}

.homeElement {
    padding-top: 40px !important;
    width: 100%;
    margin-bottom: 0px;
}

.homeContArts {
    width: 100% !important;
    min-height: 460px;
    display: block;
}

.celdaArtFav {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 43% !important;
    height: 434px !important;
    margin: 10px;
    margin-bottom: 75px;
}

.celdaArtFavOfe {
    width: 43% !important;
    height: 434px !important;
    margin: 10px;
    margin-bottom: 75px;
}

.celdaNoSesion {
    height: 270px !important;
}

.celdaFot {
    width: 100%;
    height: 120px;
    margin: 0 auto;
}

.celdaFot table {
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
}

.celdaFot table img {
    max-height: 120px !important;
    max-width: 120px !important;
}

.celdaDesc {
    font-size: 9pt;
    line-height: 15px;
    height: 70px !important;
    padding: 0px;
    margin-top: 10px;
}

.celdaPrecio {
    width: 100% !important;
    font-size: 20pt;
    margin-top: 0px;
}

.celdaCantStock {
    width: 100% !important;
}

.celdaCant {
    width: 110px;
    font-size: 10pt;
    padding-left: 0px;
}

.celdaTabCant {
    width: 40px;
    padding-top: 3px;
}

.celdaTabCant div {
    width: 15px;
}

.celdaTabCant img {
    width: 20px;
}

.celdaTabCant input[type="text"] {
    width: 28px;
    font-size: 12pt;
}

.celdaStock {
    width: 110px;
    padding-right: 0px;
    font-size: 10pt;
}

.celdaStock div {
    padding-top: 6px;
}

.celdaAniadir {
    font-size: 10pt;
    padding: 8px 0px;
    margin-top: 0px;
    border-bottom: 2px solid #ff0041;
}

.img_banner_index {
    width: 100%;
}

.div_desde {
    margin: 0px;
    width: 44px;
    font-size: 9pt;
    margin-top: -16px;
    height: 21px;
}

.primerArtFila {
    display: none;
}

.celdaFavT {
    width: auto;
    height: auto;
    font-size: 7pt;
}

.celdaFav {
    padding: 0px;
    visibility: visible;
}

.celdaFavT img {
    width: 20px !important;
    height: auto;
}

.pienCont {
    padding: 14px 7px;
}

.pien {
    padding-top: 0px;
}

.pien12 {
    width: 100%;
    padding-left: 0;
    padding-bottom: 20px;
}

.pient2 {
    font-size: 11pt;
}

.pient {
    padding: 8px 0px;
    padding-right: 50px;
}

.pien a {
    font-size: 9pt;
}

.pietable tr {
    height: 15px;
}

.pientd {
    display: inline-block;
    padding: 0 0 0 0px;
    border-right: none;
    font-size: 9pt;
}

.trpietable2 td img {
    padding: 5px 0px;
    width: auto !important;
    height: 45px;
}

.piencol2 {
    width: 168px;
    float: left;
    padding-top: 20px;
}

.pietable3 {
    margin-top: 0px !important;
}

.pien3 {
    width: 50%;
    padding-top: 20px;
}

.dH1C3 {
    width: auto;
    margin-top: -7px;
    padding: 5px 0px 0px 0px;
}

.dH1LinkCell2 {
    width: 82px;
}

.dH1Link a {
    color: #fff;
    font-size: 7pt;
}

.dHIco {
    width: 38px;
}

.dHIco img {
    width: 20px;
    height: auto;
}

.cabCestaNum {
    left: 18px;
    top: 3px;
    font-size: 9pt;
}

.dH1Link {
    width: 42px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 2px;
    float: left;
    font-size: 5pt;
    color: #fff;
}

.tHofe1 {
    padding: 0px !important;
}

.cabCestaTotal {
    font-size: 6pt;
    width: auto;
}

#importeCesta {
    font-size: 7pt;
}

.div_cabecera_menu {
    position: absolute;
    top: 78px;
    z-index: 999;
    width: 270px;
    padding: 0px 3px;
    background-color: #333;
}

.div_cabecera_login {
    top: 40px;
}

.menuCatNomC {
    width: 40px;
    text-align: center;
    padding-top: 0px;
    padding-right: 3px;
}

.menuCatNomC img {
    height: 18px;
    width: auto;
}

.menuCatNomC2 {
    font-size: 10pt;
}

.menuCatNomC2 a {
    color: #fff;
}

#desplegableLogin {
    display: block;
    z-index: 1000;
    background-color: transparent;
    color: white;
    position: relative;
}

.loginContenido {
    width: 100%;
    text-align: left;
    padding: 0;
    border-top: none;
    margin-top: 0px;
}

.logTitu {
    width: 100%;
    padding: 10px 0 5px 10px;
    font-size: 10pt;
    font-family: montserratextrabolditalic;
}

.logFormu {
    padding: 0px 10px;
    display: grid;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.logFormu input[type="password"] {
    margin-top: 0px;
    margin-left: 10px;
}

.logFormu input[type="text"], .logFormu input[type="password"] {
    float: left;
    width: 117px;
}

a.logRecu {
    width: 100%;
    text-align: right;
    float: right;
    line-height: 10px;
    font-size: 7pt !important;
    margin-top: 10px;
}

.logFormu input[type="submit"] {
    width: 50%;
    height: 32px;
    margin-top: 12px;
    float: left;
}

a.logRegistro {
    width: 50%;
    height: 32px;
    margin-top: 12px;
    padding: 8px 0 !important;
    float: right;
}

.miCTitu {
    width: 100%;
    padding: 10px 0 5px 10px;
    font-size: 10pt;
    color: #fff;
    margin-bottom: 0px;
}

.miCTab {
    padding: 5px 10px;
}

.miCCel1 {
    width: 18px;
}

.miCCel1 img {
    width: 16px;
}

.miCCel2 {
    width: 132px;
}

.miCCel2 a {
    color: white !important;
    font-size: 9pt;
}

.micuentaContenido {
    border-top: none;
    margin-top: 0px;
}

.buscador_desplegable {
    z-index: 9999;
    width: 100%;
}

#suggestionsBusqMv {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.celdaArtFavBusq {
    height: 425px !important;
    margin-bottom: 55px !important;
}

.busqcerrar {
    width: 100%;
    margin-top: 0px;
    padding-right: 10px;
}

.busqcerrar .busqcerrarX {
    font-size: 16pt;
}

.busqArticulos {
    width: 100%;
    padding-left: 10px;
}

.imgLoading {
    top: 15px;
}

#div_central_portada_mv {
    margin-top: 35px;
}



/* ******* CATEGORIAS ******** */

.celdaTipo {
    width: 66px;
    height: 26px;
    font-size: 9pt;
    bottom: 0px;
    left: 12px;
}

.contArtsOfertas {
    height: 335px;
    min-height: fit-content;
    margin-bottom: 20px;
}

.contArtsOcasion {
    border-top: 1px #ccc solid;
    padding-top: 20px;
    padding-right: 12px;
}

.flechaOfertasCategoria {
    position: fixed;
    width: auto !important;
    border-radius: 40px !important;
    padding: 8px !important;
    opacity: 0.8;
    z-index: 9999;
    transform: translate(0%, -50%);
    top: 50%;
}

.flechaOfertasCategoria:hover {
    opacity: 1;
}

.flechaOfertasCategoria img {
    filter: brightness(0.9) invert(1) sepia(.9) hue-rotate(100deg) saturate(200%);
    width: 35px;
}




/* ******* MI CUENTA ******* */

.btnSolicitarMayor {
    float: left;
    margin-bottom: 15px;
}

.tcontacto2 {
    margin: 0px !important;
}

.lista_direcciones {
    padding: 5px;
}

.cajaregistro input[type="text"], select {
    max-width: 95%;
}

.divpresupu {
    padding-left: 0px;
}

.catCol0DivMv {
    display: block;
    background-color: #ededed !important;
    width: 100px;
    padding: 11px 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px #dddddd solid;
    font-size: 12pt;
    font-family: montserratbold;
}

.catCol0DivMv:hover {
    background-color: #dfdfdf;
}

.lineaMiCuentaPC {
    display: none;
}

.lineaMiCuentaMv {
    display: block;
}






/* ******* ARTÃCULO ****** */
.imagenlanzada img {
    max-width: 50% !important;
}

.fVentajas > .ffCol {
    width: 50% !important;
    height: 35px;
    float: left;
}

.fCantTxt {
    float: left;
    width: auto;
}

.fTabCant {
    float: right;
    padding-left: 0px;
}

.td_precios_ampl div {
    text-align: right;
}

.divArticuloRelacionados > .celdaArt {
    width: 44% !important;
    height: 427px !important;
}

.fLineaDivisoria {
    display: none;
}

.scrollup {
    bottom: 80px;
}

.divMensajeRecibelo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    font-family: 'montserratbold';
    text-align: center;
}







/* ***** TICKETS ****** */

.volver_consultas_rma {
    width: 100%;
}

.a_consultas_rma {
    padding: 5px 5px;
}











